
.navbar{
    background-color: #005587;
    height: 75px;
    display: flex;
}

.nav--image{
    width:90px;
    height:85px;
    margin-left: 35px;
}

#nav--container1, #nav--homeLink{
    color:#FFD100;
    font-family: Georgira;
    font-size: 20px;
    text-decoration:none;
}

#nav--button1
{
    margin-left: 1025px;
    margin-right: 15px;
}

#nav--button1, #nav--button2{
    background: linear-gradient(to bottom right, #80a9c2, #76DAFF);
    border: 0;
    border-radius: 12px;
    color: #FFFF;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#LoginRedirect
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
    color: black;
    text-decoration:none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifNavigationTitle;
}

#RegistrationButton{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;    
    text-align: center;
    margin-bottom: 15px;
}

#RegistrationTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;
}

#fieldBoxes{
    border-radius: 6px;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    color: #3D3D3D;
    background-color: white;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    border: none; 
 }

 .TeamCreation{
    background-image: url("../../../src/assets/cricket-team-creation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 102vh;
    background-position: 0px 330px;
    background-repeat: repeat-x;
    background-color: #77b0e3;
 }